@page "/randomImage"
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Random image</PageTitle>
<h1>Random Image</h1>
<div>
    <img class="rounded-3" src="@randomImageUrl" />
</div>

<br />
<button class="btn btn-primary" @onclick="GetRandomImage">Get new image</button>

@code {
    private string randomImageUrl = "https://picsum.photos/200/300";


    private void GetRandomImage()
    {
        randomImageUrl = $"https://picsum.photos/200/300?random={Guid.NewGuid()}";
    }
}
